div#subtitle {

}
div#subtitle .wrap {
  max-width: 100%;
  margin-bottom: 200px;
}
div#subtitle .wbutton{
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 40px;
  background-color: rgba(5, 5, 5, 0.7);
  border-radius: 15px;
  bottom: -20px;
  left: calc(50% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
div#subtitle button{
  position: static;
  transform: translate(0,0);
}
div#subtitle .slick-prev{
  left: 25px;
  z-index: 1;
  background-image: url(../img/prev.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
}
div#subtitle .slick-prev::before{
    font-size: 0;
}
div#subtitle .btn_pause{
    background:url('../img/pause.svg')no-repeat;
    width: 20px; height: 20px;
    text-indent: -9999px;
    border:none;
    cursor: pointer;
    outline: none;
    background-size: contain;
    order: 2;
}
div#subtitle .btn_pause.on{
    right: 25px;
    background:url('../img/play.png')no-repeat;
    width: 20px; height: 20px;
    text-indent: -9999px;
    border:none;
    cursor: pointer;
    outline: none;
    background-size: contain;
}

div#subtitle button.slick-next{
  right: 25px;
  order: 3;
  background-image: url(../img/next.svg);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
}
div#subtitle button.slick-next::before{
  font-size: 0;
}
div#subtitle .wrap img {
  /*! transform: scale(1.1); */
  height: 100%;
  width: 100%;
}

div#subtitle .wrap .slick-dots{
  bottom: -150px;
  align-items: center;
  display: flex !important;
  justify-content: center;
  height: 92.8px;
}
div#subtitle .slick-dots li{
  width: 105px;
  height: 58px;
  overflow: hidden;
  border-radius: 13px;
  transition: 0.6s;
}
div#subtitle .slick-dots li.slick-active{
    box-shadow: 1px 1px 10px #eee;
    width: calc(105px * 1.6);
    height: calc(58px * 1.6);
}
div#subtitle .wrap .slick-dots button{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: initial;
}
div#subtitle .wrap .slick-dots button::before{
  position: static;
  width: fit-content;
  height: 6px;
  line-height: initial;
}
div#subtitle .wrap .slick-dots li.slick-active button{
  border: 1px solid white;
  border-radius: 50%;
}
div#subtitle .wrap .slick-dots li.slick-active button::before{

}